<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      Interactive Web Visualization of Scientific Collaboration Networks
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1 style="text-align: center">
      Interactive Web Visualization of Scientific Collaboration Networks
    </h1>
    <!-- Jinja Template Engine to display success message -->
    {% if message %}
    <p class="message" style="text-align: center">{{message | safe}}</p>
    {% endif %}
    <script src="https://d3js.org/d3.v5.min.js"></script>
  </body>
</html>
