<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>New Entity</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="flex flex-col items-center justify-start w-screen h-screen py-16 px-16"
    >
      <h1 class="text-3xl text-center mb-12">
        Interactive Web Visualization of Scientific Collaboration Networks
      </h1>
      <div class="flex flex-row w-full items-start justify-center mb-2">
        <div class="flex flex-col w-1/2 items-center justify-center">
          <div
            class="w-auto flex flex-col items-center justify-center rounded-md shadow-md w-1/2 pt-6 pb-8"
          >
            <p class="text-xl underline mb-4">New Affiliate</p>
            <form class="flex flex-col" action="/new" method="post">
              <div
                class="flex flex-row w-full justify-around items-center mb-2"
              >
                <p class="text-lg w-1/2 mr-2">Full Name:</p>
                <input
                  type="text"
                  class="text-lg rounded-md shadow-md ml-2 border-2"
                  name="fullname"
                  required
                />
              </div>
              <div
                class="flex flex-row w-full justify-around items-center mb-2"
              >
                <p class="text-lg w-1/2 mr-2">Department:</p>
                <input
                  type="text"
                  class="text-lg rounded-md shadow-md ml-2 border-2"
                  name="department"
                  required
                />
              </div>
              <div
                class="flex flex-row w-full justify-around items-center mb-4"
              >
                <p class="text-lg w-1/2 mr-2">College:</p>
                <input
                  type="text"
                  class="text-lg rounded-md shadow-md ml-2 border-2"
                  name="college"
                  required
                />
              </div>
              <input
                type="submit"
                name="affiliate"
                class="rounded-md text-lg py-2 w-24 px-2 self-center text-white font-semibold bg-blue-600 hover:bg-blue-500 cursor-pointer"
                value="Submit"
              />
            </form>
          </div>
        </div>
        <div class="flex flex-col w-1/2 items-center justify-center">
          <div
            class="w-auto flex flex-col items-center justify-center rounded-md shadow-md w-1/2 pt-6 pb-8"
          >
            <p class="text-xl underline mb-4">New Paper</p>
            <form class="flex flex-col" action="/new" method="post">
              <div
                class="flex flex-row w-full justify-around items-center mb-2"
              >
                <p class="text-lg w-1/2 mr-2">Title:</p>
                <input
                  type="text"
                  class="text-lg rounded-md shadow-md ml-2 border-2"
                  name="title"
                  required
                />
              </div>
              <div
                class="flex flex-row w-full justify-around items-center mb-2"
              >
                <p class="text-lg w-1/2 mr-2">Authors:</p>
                <input
                  type="text"
                  class="text-lg rounded-md shadow-md ml-2 border-2"
                  name="authors"
                  required
                />
              </div>
              <div
                class="flex flex-row w-full justify-around items-center mb-4"
              >
                <p class="text-lg w-1/2 mr-2">Year:</p>
                <input
                  type="text"
                  class="text-lg rounded-md shadow-md ml-2 border-2"
                  name="year"
                  required
                />
              </div>
              <input
                type="submit"
                name="paper"
                class="rounded-md text-lg py-2 w-24 px-2 self-center text-white font-semibold bg-blue-600 hover:bg-blue-500 cursor-pointer"
                value="Submit"
              />
            </form>
          </div>
        </div>
      </div>
      <div class="w-2/3 h-full border-black border-2">
        <svg class="w-full h-full"></svg>
      </div>
    </div>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{{url_for('static', filename='visualization.js')}}"></script>
  </body>
</html>
